<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <filter>
        <filter-name>EncodeFilter</filter-name>
        <filter-class>com.main.huihui.filter.EncodeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodeFilter</filter-name>
        <url-pattern>/input.jsp</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>serviceServlet</servlet-name>
        <servlet-class>com.main.huihui.servlet.ServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>serviceServlet</servlet-name>
        <url-pattern>/serviceServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/input.jsp</welcome-file>
    </welcome-file-list>

</web-app>